$def with (name, names)
<div class="main" id="main">
  <div class="inlay">
    <h2 class="main_header_error">Probleem met $name</h2>
        
    <p>
        Er is een fout opgetreden bij het opzoeken van de domeinnaam $name.
    </p>
    <p>
        Dit kan komen doordat de DNSSEC-validatie niet is gelukt.
    </p>
    <p>
        Als je denkt dat het om een configuratiefout van de beheerder 
        gaat, kun je een Negative Trust Anchor zetten, waarna dit 
        domein alsnog te bereiken is. De NTA zal blijven staan totdat
        de valibox opnieuw opgestart wordt.
    </p>
    <p>
        Doe dit NIET als je het niet vertrouwt.
    </p>
$for name in names:
    <p>
        <a href="/autonta/set_nta/$name">Zet een Negative Trust Anchor voor $name</a>
    </p>
  </div>
  <div>
      <p>&nbsp;</p>
  </div>
  <div>
    <p>
        <a href="//valibox./autonta">Klik hier om de huidige set Negative Trust Anchors te beheren.</a>
    </p>
  </div>
</div>
