$def with (main)
<html>
<head>
    <title>SIDN Labs ValiBox</title>
    <link rel='stylesheet' href='//valibox./resources/default.css' type='text/css' />
</head>
<body>
<div class="main" id="main">
    <div class="header">
        <h2 class="main_header_title">SIDN Labs ValiBox</h2>
    </div>
$:main
    <div>
        <p>
            <a href="//valibox.">ValiBox Hoofdmenu</a>
        </p>
        <div class="inlay">
        <p>
            Hier kun je de instellingen van de ValiBox wijzigen, de 
            wachtwoorden veranderen, de logs bekijken, de software 
            updaten, en backups maken.
        </p>
        </div>
    </div>
<div class="logo" id="logo">
    <img src="//valibox./resources/valibox-logo-300x225.png" />
</div>
</body>
</html>
