$def with (lk, dst, name, names, err, nta_disabled)
$var lk = lk
<div class="inlay lined">
    <h2 class="main_header_error">$lk.DNSSEC_ERROR_NAME(name)</h2>

    <p>
        $lk.DNSSEC_ERROR_NAME_LONG(err.target_dname)
    </p>
    <p>
        $lk.DNSSEC_ERROR_REASON
    </p>
    <p>
        $lk.DNSSEC_ERROR_SERVER(err.auth_server)
    </p>
    <p style="color: red">
        $lk.DNSSEC_ERROR_ERROR(err.err_msg)
    </p>
    <p>
        $lk.DNSSEC_ERROR_RECORD((err.fail_type, err.fail_dname))
    </p>
    $if not nta_disabled:
        <p>
            $lk.DNSSEC_ERROR_SET_NTA_DESCRIPTION
        </p>
        <p>
            $lk.DNSSEC_ERROR_NOT_IF_NOT_TRUSTED
        </p>
        $for name in names:
            <p>
                <a href="/autonta/set_nta/$name?dst=$dst">$lk.DNSSEC_ERROR_SET_NTA(name)</a>
            </p>

</div>
