$def with (lk, dst, old_wifi_name, error)
$var lk = lk


<div class="inlay lined">
    <p>
$lk.PASS_INTRO
    </p>
</div>
<div class="inlay lined">
<form method="POST" action="http://valibox./autonta/set_passwords">
<input type="hidden" name="dst" value="$dst" />

<table>
$if error:
    <tr>
        <td colspan="2">$:error</td>
    </tr>

    <tr>
        <td>
            $lk.WIFI_NAME
        </td>
        <td>
            <input type="text" name="wifi_name" value="$old_wifi_name" />
        </td>
    </tr>
    <tr>
        <td>
            $lk.WIFI_PASS
        </td>
        <td>
            <input type="password" name="wifi_password" value="" />
        </td>
    </tr>
    <tr>
        <td>
            $lk.WIFI_PASS_REPEAT
        </td>
        <td>
            <input type="password" name="wifi_password_repeat" value="" />
        </td>
    </tr>
    <tr>
        <td>
            $lk.PASS_ADMIN
        </td>
        <td>
            <input type="password" name="admin_password" value="" />
        </td>
    </tr>
    <tr>
        <td>
            $lk.PASS_ADMIN_REPEAT
        </td>
        <td>
            <input type="password" name="admin_password_repeat" value="" />
        </td>
    </tr>
</table>
<input type="submit" value="$lk.PASS_UPDATE"/>
</div>
