<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{== langkeys.get('SIDNLABS') }} {{== langkeys.get('VALIBOX') }}</title>
    <link rel='stylesheet' href='/resources/default.css' type='text/css' />
</head>

<body>
    <div class="main" id="main">
        <div class="header">
            <h2 class="main_header_title">{{== langkeys.get('SIDNLABS') }} {{== langkeys.get('VALIBOX') }}</h2>
        </div>
        <div class="main">
            <div>
                <p>{{== langkeys.get('INDEX_WELCOME') }}</p>
            </div>
            <div>
                <p>
                <a href="/autonta/nta_list">{{== langkeys.get('INDEX_NTA_MGMT') }}</a>
                </p>
                <div class="inlay lined">
                    <p>
                    {{== langkeys.get('INDEX_NTA_DESCRIPTION1') }}
                    </p>
                    <p>
                    {{== langkeys.get('INDEX_NTA_DESCRIPTION2') }}
                    </p>
                    <p>
                    {{== langkeys.get('INDEX_NTA_DESCRIPTION3') }}
                    </p>
                </div>
            </div>
            <div>
                <p>
                    <a href="/cgi-bin/luci">{{== langkeys.get('INDEX_CONFIGURE') }}</a>
                </p>
                <div class="inlay lined">
                    <p>
                        {{== langkeys.get('SETTINGS_DESCRIPTION') }}
                    </p>
                </div>
                <p></p>
            </div>
            <div>
                <p>
                    <a href="/autonta/update_check">{{== langkeys.get('INDEX_FIRMWARE_UPDATE') }}</a>
                </p>
                <div class="inlay lined">
                    <p>
                        {{== langkeys.get('INDEX_FIRMWARE_UPDATE_DESCRIPTION', current_version) }}
                    </p>
                </div>
                <p></p>
            </div>
            <div>
                <p>
                    <a href="/spin/start">{{== langkeys.get('INDEX_SPIN_GRAPH') }}</a>
                </p>
                <div class="inlay lined">
                    <p>
                        {{== langkeys.get('INDEX_SPIN_GRAPH_DESCRIPTION') }}
                    </p>
                </div>
                <p></p>
            </div>
        </div>
    </div>
    <div class="logo" id="logo">
        <img src="/resources/valibox_logo.png" alt="valibox-logo" />
    </div>
</body>
</html>
