$def with (ntas)

    <div>
        <b>Huidige Negative Trust Anchors:</b>
        <div class="inlay lined">
        $if ntas:
            <p>
            <table>
            $for nta in ntas:
                <tr>
                    <td class="nta_domain">$nta</td>
                    <td>&nbsp;</td>
                    <td><a href="/autonta/remove_nta/$nta">Verwijder</a></td>
                </tr>
            </table>
            </p>
        $else:
            <p>Er zijn op dit moment geen Negative Trust Anchors gezet.</p>
        </div>
    </div>
