$def with (lk, ntas)
$var lk = lk

    <div>
        <b>$lk.TRUST_ANCHOR_LIST</b>
        <div class="inlay lined">
        $if ntas:
            <p>
            <table>
            $for nta in ntas:
                <tr>
                    <td class="nta_domain">$nta</td>
                    <td>&nbsp;</td>
                    <td><a href="/autonta/remove_nta/$nta">$lk.TRUST_ANCHOR_REMOVE</a></td>
                </tr>
            </table>
            </p>
        $else:
            <p>$lk.TRUST_ANCHOR_NO_ANCHORS</p>
        </div>
    </div>
