$def with (lk, update_download_success, update_version)
$var lk = lk

    <div>
        <b>$lk.SIDNLABS $lk.VALIBOX $lk.UPDATE</b>
    <div class="inlay lined">

$if update_download_success:
        <p>
            $lk.UPDATE_INSTALLING(update_version)
        </p>
        <p>
            $lk.UPDATE_WAIT
        </p>
        <p>
            $lk.UPDATE_CLOSE
        </p>
        <p>
            <a href="//valibox.">$lk.GO_TO_MAIN</a>
        </p>
$else:
        <p>
            $lk.UPDATE_ERROR(update_version)
        </p>
        <p>
            <a href="//valibox./autonta/update_install">$lk.UPDATE_TRY_AGAIN</a>
        </p>
    </div>
    </div>
