$def with (lk, dst, update_check_failed, update_available, current_version, currently_beta, other_version, update_version, update_info)
$var lk = lk

    <div>
        <b>$lk.SIDNLABS $lk.VALIBOX $lk.UPDATE</b>
    <div class="inlay lined">

$if update_check_failed:
        <p>
            $lk.UPDATE_CHECK_FAILED
        </p>
        <p>
            $lk.UPDATE_CHECK_CURRENT_VERSION(current_version)
        </p>
        <p>
            <a href="//valibox./autonta/update_check">$lk.UPDATE_TRY_AGAIN</a>
        </p>
$else:
    $if update_available:
        <div class="inlay">
            <p>
                $lk.UPDATE_CHECK_AVAILABLE((update_version, current_version))
            </p>
            <pre>
                $:update_info
            </pre>

            <form method="GET" action="http://valibox./autonta/update_install">
            <input type="hidden" name="dst" value="$dst" />
            <input type="checkbox" name="keepsettings" checked="checked">$lk.UPDATE_KEEP_SETTINGS</input>
            $if currently_beta:
                <p>
                    <input type="radio" name="version" value="beta" checked="checked">$lk.UPDATE_INSTALL_CURRENT</input>
                </p>
                <p>
                    <input type="radio" name="version" value="release">$lk.UPDATE_INSTALL_LATEST(other_version)</option>
                </p>
            $else:
                <p>
                    <input type="radio" name="version" value="release" checked="checked">$lk.UPDATE_INSTALL_CURRENT</input>
                </p>
                <p>
                    <input type="radio" name="version" value="beta">$lk.UPDATE_INSTALL_LATEST_BETA(other_version)</option>
                </p>
            <p>
                <input type="submit" value="$lk.UPDATE_INSTALL_START" />
            </p>
            </form>
        </div>
    $else:
        <div class="inlay">
            <p>
                $lk.UPDATE_CHECK_NO_UPDATE(current_version)
            </p>
            <p>
                <a href="//valibox./autonta/update_check">$lk.UPDATE_TRY_AGAIN</a>
            </p>
        </div>
        </div>
        <div>
            <p>
                <b>$lk.UPDATE_INSTALL_AGAIN</b>
            </p>
        <div class="inlay lined">
            <form method="GET" action="http://valibox./autonta/update_install">
            <input type="hidden" name="dst" value="$dst" />
            <input type="checkbox" name="keepsettings" checked="checked">$lk.UPDATE_KEEP_SETTINGS</input>
            $if currently_beta:
                <p>
                    <input type="radio" name="version" value="beta" checked="checked">$lk.UPDATE_INSTALL_REINSTALL</input>
                </p>
                <p>
                    <input type="radio" name="version" value="release">$lk.UPDATE_INSTALL_LATEST(other_version)</option>
                </p>
            $else:
                <p>
                    <input type="radio" name="version" value="release" checked="checked">$lk.UPDATE_INSTALL_REINSTALL</input>
                </p>
                <p>
                    <input type="radio" name="version" value="beta">$lk.UPDATE_INSTALL_LATEST_BETA(other_version)</option>
                </p>
            <p>
                <input type="submit" value="$lk.UPDATE_INSTALL_START" />
            </p>
            </form>
        </div>
        </div>
    </div>
