{{ --$def with (lk, dst, old_wifi_name, error) }}
<div class="inlay lined">
    <p>
{{= langkeys.get('PASS_INTRO') }}
    </p>
</div>
<div class="inlay lined">
<form method="POST" action="http://valibox./autonta/set_passwords">
<input type="hidden" name="dst" value="{{= dst }}" />

<table>

{{ if error then }}
    <tr>
        <td colspan="2" style="color: red">{{= error }}</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
{{ end }}

<tr>
    <td>
        {{= langkeys.get('WIFI_NAME') }}
    </td>
    <td>
        <input type="text" name="wifi_name" value="{{= old_wifi_name }}" />
    </td>
</tr>
<tr>
    <td colspan="2">&nbsp;</td>
</tr>
<tr>
    <td>
        {{= langkeys.get('WIFI_PASS') }}
    </td>
    <td>
        <input type="password" name="wifi_password" value="" />
    </td>
</tr>
<tr>
    <td>
        {{= langkeys.get('WIFI_PASS_REPEAT') }}
    </td>
    <td>
        <input type="password" name="wifi_password_repeat" value="" />
    </td>
</tr>
<tr>
    <td colspan="2">&nbsp;</td>
</tr>
<tr>
    <td>
        {{= langkeys.get('PASS_ADMIN') }}
    </td>
    <td>
        <input type="password" name="admin_password" value="" />
    </td>
</tr>
<tr>
    <td>
        {{= langkeys.get('PASS_ADMIN_REPEAT') }}
    </td>
    <td>
        <input type="password" name="admin_password_repeat" value="" />
    </td>
</tr>
</table>
<input type="submit" value="{{= langkeys.get('PASS_UPDATE') }}"/>
</div>
