<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SIDN Labs ValiBox</title>
    <link rel='stylesheet' href='//valibox./resources/default.css' type='text/css' />
</head>
<body>
<div class="main" id="main">
    <div class="header">
        <h2 class="main_header_title">{{= langkeys.get('SIDNLABS') }}</h2>
    </div>
{{= main_html }}
    <div>
        <p>
            <a href="//valibox.">{{= langkeys.get('VALIBOX') }} {{= langkeys.get('MAINMENU') }}</a>
        </p>
        <div class="inlay">
        <p>
            {{= langkeys.get('SETTINGS_DESCRIPTION') }}
        </p>
        </div>
    </div>
</div>
<div class="logo" id="logo">
    <img src="//valibox./resources/valibox_logo.png" alt="valibox-logo"/>
</div>
</body>
</html>
