{{ --$def with (lk, ntas) }}

    <div>
        <b>{{= langkeys.get('TRUST_ANCHOR_LIST') }}</b>
        <div class="inlay lined">
        {{ if #ntas > 0 then }}
            <p>
            <table>
            {{ for _, nta in ipairs(ntas) do }}
                <tr>
                    <td class="nta_domain">{{= nta }}</td>
                    <td>&nbsp;</td>
                    <td><a href="/autonta/remove_nta/$nta">{{= langkeys.get('TRUST_ANCHOR_REMOVE') }}</a></td>
                </tr>
            {{ end }}
            </table>
            </p>
        {{ else }}
            <p>$lk.TRUST_ANCHOR_NO_ANCHORS</p>
        {{ end }}
        </div>
    </div>
